<!doctype html>
<html ⚡>

<head>
<meta charset="utf-8">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>LCA | Lembaga Cerdas Al-Qur'an</title>
<link rel="shortcut icon" href="{{ base_url() }}assets/images/logo.png" />


{# custom #}
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/default/default.css"/>
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/bootstrap/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/app.min.css"/>
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/style.min.css"/>
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/font-awesome/css/font-awesome.min.css"/>
<link href="{{ base_url()}}assets/login/css/sweetalert2.min.css" rel="stylesheet" type="text/css" media="all" />
{# <link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/flag-icon/flag-icon.min.css"/> #}
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/simple-line-icons/css/simple-line-icons.css">
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/ionicons/css/ionicons.css">
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/themify-icons/themify-icons.css">
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/toastr/toastr.min.css">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

{# <link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/chartist/chartist.css"> #}
{# <link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/apex-chart/apexcharts.css"> #}
{# <link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/jquery-ui/jquery-ui.css"> #}
{# <link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/datatables/jquery.dataTables.min.css"> #}
{# <link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/datatables/extensions/dataTables.jqueryui.min.css"> #}
{# <link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/spinkit/spinkit.min.css"/> #}

<script src="{{ base_url() }}assets/plugins/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script src="{{ base_url() }}assets/plugins/feather-icon/feather.min.js"></script>
<script src="{{ base_url() }}assets/plugins/countup/counterup.min.js"></script>		
<script src="{{ base_url() }}assets/plugins/waypoints/waypoints.min.js"></script>
<script src="{{ base_url() }}assets/js/app.js"></script>
<script src="{{ base_url() }}assets/js/custom.js"></script>
<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
<script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>

{# <script src="{{ base_url() }}assets/plugins/jquery-ui/jquery-ui.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/popper/popper.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/bootstrap/js/bootstrap.min.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/toastr/toastr.min.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/chartjs/chartjs.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/apex-chart/apexcharts.min.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/apex-chart/irregular-data-series.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/simpler-sidebar/jquery.simpler-sidebar.min.js"></script>	 #}
{# <script src="{{ base_url() }}assets/js/jquery.slimscroll.min.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/datatables/jquery.dataTables.min.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/datatables/responsive/dataTables.responsive.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/datatables/extensions/dataTables.jqueryui.min.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/simpler-sidebar/jquery.simpler-sidebar.min.js"></script> #}
{# <script src="{{ base_url() }}assets/js/highlight.min.js"></script> #}
{# <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoliAneRffQDyA7Ul9cDk3tLe7vaU4yP8"></script> #}
{# <script src="{{ base_url() }}assets/plugins/gmaps/gmaps.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/gmaps/prettify/prettify.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/gmaps/gmaps-active.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/google-chart/google-chart.min.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/flot/jquery.flot.js"></script> #}
{# <script src="{{ base_url() }}assets/plugins/flot/jquery.flot.pie.js"></script> #}
{# custom #}



<!--AMP HTML files require a canonical link pointing to the regular HTML. If no HTML version exists, it should point to itself.-->
<link rel="canonical" href="index.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo:300,400&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap">
<link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">

<link href="audio/style_audio.css" rel="stylesheet">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1,user-scalable=no"><meta name="apple-mobile-web-app-capable" content="yes"/><meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- <link href="styles/style.css" rel="stylesheet"> -->
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149901762-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149901762-2');
</script>


</head>
<body style="font-family: 'Josefin Sans';background-color:white;">		
	<div class="content-wraper">
			
	
	<footer class="mt-3">
		<center><p  class="pd-y-3 mb-0">{{ title }}</p></center>
	</footer>
<nav class="footer-5-icons">
<a href="{{ base_url() }}Beranda"><i style="margin-top:3px;padding-top:3px;color:{{ menu == 'beranda' ? '#f3e500' : '' }}" data-feather="home"></i><br><em>Beranda</em></a>
<a href="{{ base_url() }}Anggota"><i style="margin-top:3px;padding-top:3px;color:{{ menu == 'anggota' ? '#f3e500' : '' }}" data-feather="users"></i><br><em>Anggota</em></a>
<a href="{{ base_url() }}Keuangan"><i style="margin-top:3px;padding-top:3px;color:{{ menu == 'keuangan' ? '#f3e500' : '' }}" data-feather="dollar-sign"></i><br><em>Keuangan</em></a>
<a href="{{ base_url() }}Agenda"><i style="margin-top:3px;padding-top:3px;color:{{ menu == 'agenda' ? '#f3e500' : '' }}" data-feather="check-square"></i><br><em>Agenda</em></a>
<a href="{{ base_url() }}Galeri"><i style="margin-top:3px;padding-top:3px;color:{{ menu == 'galeri' ? '#f3e500' : '' }}" data-feather="image"></i><br><em>Galeri</em></a>

</nav>

    {% block content %}{% endblock %}
	

		<script>
		var x = document.getElementById("myAudio");  
		var c = document.getElementById("play-btn");  

		function playAudio() { 
		if (x.paused) {
			c.classList.remove("muted");
			return x.play();
		}else {
			c.classList.add("muted");
			return x.pause(); 
		}
		} 
		</script>

</body>

<script src="{{ base_url() }}assets/plugins/jquery/jquery.min.js"></script>
<script src="{{ base_url() }}assets/plugins/jquery-ui/jquery-ui.js"></script>
{# <script src="{{ base_url() }}assets/plugins/popper/popper.js"></script> #}
<script src="{{ base_url() }}assets/plugins/feather-icon/feather.min.js"></script>
<script src="{{ base_url() }}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- <script src="{{ base_url() }}assets/plugins/pace/pace.min.js"></script> -->
<script src="{{ base_url() }}assets/plugins/toastr/toastr.min.js"></script>
{# <script src="{{ base_url() }}assets/plugins/countup/counterup.min.js"></script>		
<script src="{{ base_url() }}assets/plugins/waypoints/waypoints.min.js"></script>
<script src="{{ base_url() }}assets/plugins/chartjs/chartjs.js"></script>
<script src="{{ base_url() }}assets/plugins/apex-chart/apexcharts.min.js"></script>
<script src="{{ base_url() }}assets/plugins/apex-chart/irregular-data-series.js"></script>
<script src="{{ base_url() }}assets/plugins/simpler-sidebar/jquery.simpler-sidebar.min.js"></script>	    #}
<!-- <script src="{{ base_url() }}assets/js/dashboard/sales-dashboard-init.js"></script> -->
{# <script src="{{ base_url() }}assets/js/jquery.slimscroll.min.js"></script>
<script src="{{ base_url() }}assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}assets/plugins/datatables/responsive/dataTables.responsive.js"></script>
<script src="{{ base_url() }}assets/plugins/datatables/extensions/dataTables.jqueryui.min.js"></script>
<script src="{{ base_url() }}assets/plugins/simpler-sidebar/jquery.simpler-sidebar.min.js"></script>
<script src="{{ base_url() }}assets/js/highlight.min.js"></script> #}
<script src="{{ base_url() }}assets/js/app.js"></script>
<script src="{{ base_url() }}assets/js/custom.js"></script>
{# <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoliAneRffQDyA7Ul9cDk3tLe7vaU4yP8"></script>
<script src="{{ base_url() }}assets/plugins/gmaps/gmaps.js"></script>
<script src="{{ base_url() }}assets/plugins/gmaps/prettify/prettify.js"></script>
<script src="{{ base_url() }}assets/plugins/gmaps/gmaps-active.js"></script>
<script src="{{ base_url() }}assets/plugins/google-chart/google-chart.min.js"></script>
<script src="{{ base_url() }}assets/plugins/flot/jquery.flot.js"></script>
<script src="{{ base_url() }}assets/plugins/flot/jquery.flot.pie.js"></script> #}
<!-- <script src="{{ base_url() }}assets/js/dashboard/ecommerce-dashboard-init.js"></script> -->
<!-- <script src="{{ base_url() }}assets/plugins/datepicker/js/datepicker.min.js"></script>
<script src="{{ base_url() }}assets/plugins/datepicker/js/datepicker.es.js"></script> -->

<script src="https://assets.scola.id/modules/module-penilaian/assets/js/sweetalert2.min.js"></script>

{# Datatables  #}
<!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->

<script src="https://assets.scola.id/modules/module-penilaian/assets/js/bs-custom-file-input.min.js"></script>
<script type="text/javascript">
    $(function() {
        $(".datepicker").datepicker({
            // format: 'yyyy-mm-dd',
            format: 'dd-mm-yyyy',
            autoclose: true,
            todayHighlight: true,
        });
        $('.datepicker').datepicker('setDate', 'today');
    });
</script>
<script>
	var tanpa_rupiah = document.getElementById('tanpa-rupiah');
    tanpa_rupiah.addEventListener('keyup', function(e) {
        tanpa_rupiah.value = formatRupiah(this.value);
    });
	 function formatRupiah(angka, prefix) {
        var number_string = angka.replace(/[^,\d]/g, '').toString(),
            split = number_string.split(','),
            sisa = split[0].length % 3,
            rupiah = split[0].substr(0, sisa),
            ribuan = split[0].substr(sisa).match(/\d{3}/gi);

        if (ribuan) {
            separator = sisa ? '.' : '';
            rupiah += separator + ribuan.join('.');
        }

        rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
        return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    }
</script>

</html>