<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>LCA | Lembaga Cerdas Al-Qur'an</title>
<link rel="shortcut icon" href="{{ base_url() }}assets/images/logo.png" />

<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/bootstrap/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/font-awesome/css/font-awesome.min.css"/>
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/flag-icon/flag-icon.min.css"/>
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/simple-line-icons/css/simple-line-icons.css">
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/ionicons/css/ionicons.css">
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/themify-icons/themify-icons.css">
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/toastr/toastr.min.css">
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/chartist/chartist.css">
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/apex-chart/apexcharts.css">
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/jquery-ui/jquery-ui.css">
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/datatables/jquery.dataTables.min.css">
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/plugins/datatables/extensions/dataTables.jqueryui.min.css">
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/app.min.css"/>
<link type="text/css" rel="stylesheet" href="{{ base_url() }}assets/css/style.min.css"/>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<link href="{{ base_url() }}assets/login/css/sweetalert2.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
<script src="https://assets.scola.id/modules/module-penilaian/assets/js/jquery-3.3.1.min.js"></script>

<style>
    #chartdiv {
        width: 100%;
        height: 500px;
        font-size: 11px;
    }

    #piechart {
        width: 100%;
        height: 800px;
        font-size: 11px;
    }

    #chartdivPie {
        width: 100%;
        height: 308px;
        font-size: 11px;
    }
</style>
<body>
      <!--================================-->
      <!-- 404 Start -->
      <!--================================-->	
      <div class="ht-100v d-flex">
         <div class="card shadow-none mx-auto text-center bd-transparent bg-transparent align-self-center">
            <h1 class="tx-bold tx-140 tx-gray-500">4<span class="text-danger">0</span>4</h1>
            <h3 class="text-uppercase">Page not found!</h3>
            <p class="tx-gray-500">Halaman Tidak Ditemukan.</p>
            <div class="form-group">
                <a class="btn btn-primary" href="#">&larr; Kembali ke Dashboard</a>
            </div>
            <div class="text-center">
               <p>Dept IT LCA &copy; 2020.</p>
            </div>
         </div>
      </div>
      <!--/  404 End -->
      <!--================================-->
      <!-- Footer Script -->
      <!--================================-->	
      <script src="assets/plugins/jquery/jquery.min.js"></script>
      <script src="assets/plugins/jquery-ui/jquery-ui.js"></script>
      <script src="assets/plugins/popper/popper.js"></script>
      <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="assets/plugins/pace/pace.min.js"></script>
      <script src="assets/js/jquery.slimscroll.min.js"></script>
      <script src="assets/js/custom.js"></script>
   </body>

<div class="text-center">
<div class="error mx-auto" data-text="404">404</div>
<p class="lead text-gray-800 mb-5">Page Not Found</p>
<p class="text-gray-500 mb-0">Anda Tidak Punya Akses ke Halaman Ini !!!</p>
<a href="{{ base_url() }}Home">&larr; Kembali ke Dashboard</a>
</div>

       