<html lang="en">

<head>
    {% block head %}
            <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
            <meta charset="utf-8"/>
            <title>Login
                {% block additional_title %}{% endblock %}
            </title>

            <!-- Block CSS-->
            {% block css %}
                <link rel="stylesheet" href="{{ base_url('/') }}assets/css/sweetalert2.min.css">
                <link rel="stylesheet" href="{{ base_url('/') }}assets/css/styles.css">
                <script src="{{ base_url('/') }}assets/js/sweetalert2.min.js"> </script>
                <script src="{{ base_url('/') }}assets/js/jquery-3.3.1.min.js"> </script>
            {% endblock %}
            <!-- End CSS -->
        {% endblock %}
</head>

<body>
    <div class="frame-full">
        <div class="frame-centered">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <div class="card shadow border-0 card-clip">
                            <div class="card-body p-4">
                                <div class="header-banner header-banner-card" style="background-image:url('{{ base_url('/') }}assets/image/header.gif');border-radius:1%">
                                    <h4 class="header-banner-title m-0 mb-3 text-white">SIMA</h4>
                                </div>
                                <form id="form-signin" action="{{ base_url('/') }}auth/signin" method="post">
                                    <div class="form-group row">
                                        <label for="username" class="col-sm-3 col-form-label">Username</label>
                                        <div class="col-sm-9">
                                            <div class="form-icon">
                                                <input type="text" name="username" class="form-control" placeholder="Masukan username" required>
                                                <i class="fas fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="password" class="col-sm-3 col-form-label">Password</label>
                                        <div class="col-sm-9">
                                            <div class="form-icon">
                                                <input type="password" name="password" class="form-control" placeholder="Masukan password" required>
                                                <i class="fas fa-lock"></i>
                                            </div>
                                            <!-- <a href="" class="text-sm">Lupa kata sandi?</a> -->
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <!-- <a href="" class="btn btn-neutral mr-2">Daftar Baru</a> -->
                                        <button type="submit" class="btn btn-primary">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    $("#form-signin").submit(function(e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            data: form.serialize(),
            success: function(data) {
                alert(data.message);
                if (data.status) {
                    location.href = "{{ base_url('home')}}";
                }
            }
        });
    });
</script>
</body>
</html>