{% extends "main.twig" %}

{% block content %}
	{# Index #}
	{# <div id="index" class="page-content-scroll front-page">
		<div class="col-xl-12 ">
            <div class=" mg-b-20">
                <div class="" id="">
                    <div class="clearfix mt-2 pt-2">
                        <div><canvas id="myChart" width="400" height="400"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
	</div> #}


    <div class="page-inner" style="background-color:white">
   <div id="main-wrapper">
      <div class="pageheader pd-t-5 pd-b-5">
        {% for row in data %}
        <div style="margin-left:-8px;margin-right:-8px;padding-top:-5px" class="card border-success mt-2 mb-2 ">
            <div class="card-body " style="margin-top:-15px;margin-bottom:-15px;">
                <div class="row">
                     <div class="col-sm-12 col-md-6 col-xl-12">
                        <div class="d-flex justify-content-between">
                            <h6 class="tx-uppercase tx-10 mg-b-0 tx-gray-500">Angkatan {{ row.angkatan }} - {{ row.tahun }}</h6>
                            <span class="tx-10 tx-gray-500"></span>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mg-b-5">
                            <h5 class="mg-b-0 tx-dark tx-rubik tx-normal"><span class="counter">{{ row.jumlah }}</span> Orang</h5>
                            <div class="d-flex align-items-center tx-gray-600"><i class="fa fa-male"></i>&nbsp; {{ row.santri }} &emsp;<i class="fa fa-female"></i>&nbsp;{{ row.santriah }}</div>
                        </div>
                        <div class="progress ht-3 mg-b-0">
                            <div class="progress-bar bg-success wd-{{ row.percen }}p" role="progressbar" aria-valuenow="{{ row.percen }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        {% endfor %}
        <br><br><br><br><br>
       </div>
   </div>
</div>


    <script>

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'pie',

    data: {
        labels: ['Lunas', 'Belum', 'Pesanan'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },

    options: {}
});
</script>

{% endblock %}