{% extends "main.twig" %}
{% block content %}

<div class="page-inner" style="background-color:white">
   <div id="main-wrapper">
      <div class="pageheader pd-t-5 pd-b-5">
        <div class="row pd-t-5">
            <div class="col-9">
                <a href="{{ base_url() }}Keuangan"><h1 style="color:{{ counting >= 0 ? '#28a745' : '#dc3545' }}" class="pd-0 mg-0 tx-15 text-overflow"><i class="fa fa-arrow-circle-left mg-r-5" ></i>Rp. {{ counting|number_format(2, '.', ',') }}</h1></a>
            </div>
            <div class="col-3">
                <button onclick="alertFitur()" class="btn btn-sm btn-primary" type="button">Print</button>
            </div>
         </div>
      </div>
      <div class="row bg-white ">
            <div class="col-md-6 col-xl-12" style="height:500px;overflow-y: scroll;overflow-x: hidden;">
                    
                    {# <div class="card-header">
                        <h4 class="card-header-title">
                        <i class="fa fa-user mg-r-5"></i> Nama
                        </h4> #}
                        {# <div class="">
                            <button class="btn btn-warning btn-sm m-0" onclick="editSantri(<?= $row->id ?>)"  data-toggle="modal" data-target="#formSantri" style="float:right"><i class="fa fa-edit"></i></button>
                        </div> #}
                        {# <div class="ml-2">
                            <a href="<?= base_url() ?>Majelis/delete_santri/<?= $row->id ?>/<?= $id_majlis_nama ?>" class="btn btn-danger btn-sm m-0" style="float:right"><i class="fa fa-trash"></i></a>
                        </div> #}
                    {# </div> #}
                    {% for row in data %}
                    <div style="margin-left:-8px;margin-right:-8px" class="card border-{{ row.tipe == 1 ? 'success' : 'danger'}} mt-2 mb-2 ">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-12">
                                    <a style="" class="card-text"><i class="fa fa-calendar mg-r-5"></i>{{ row.dibuat|date("d-m-Y H:i") }}</a>
                                    <a style="" class="card-text"><i class="fa fa-money mg-r-5"></i>Rp. {{ row.nominal|number_format(2, '.', ',') }}</a>
                                   <a style="" class="card-text"><i class="fa fa-clipboard mg-r-5"></i>{{ row.keterangan }}</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    {% endfor %}
                    <br><br><br><br><br><br><br>
            </div>
         </div>
   </div>
</div>
<footer style="margin-top:10%" class="">
		<center><p style="font-size:10px" class="pd-y-3 mb-0">Copyright&copy; 2021 | Created By <a href="#" target="_blank">Dept IT LCA</a></p></center>
	</footer>
<script>
     function hanyaAngka(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ( charCode > 31 
        && (charCode < 48 || charCode > 57))

        return false;
        return true;
    }
    function limit(element)
    {
        var max_chars = 13;

        if(element.value.length > max_chars) {
            element.value = element.value.substr(0, max_chars);
        }
    }
    function editSantri(id, name, phone, address){
        $("#id").val(id);
        $("#nama").val(name);
        $("#phone").val(phone);
        $("#alamat").val(address);
    }
    function alertFitur(){
        Swal.fire({
            icon: 'error',
            title: 'Oops !',
            text: 'Fitur Belum Tersedia',
            type: 'danger',
            animation: false,
            confirmButtonText: 'Tutup',
        })
    }
    function viewImage(foto)
    {
        $("#fotoview").html('<img style="width:100%;height:100%" src="' + foto + '">');
    }
    $("#formSantriInput").submit(function(e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: $(this).attr('action'),
            cache: false,
            contentType: false,
            processData: false,
            data: new FormData(this),
            success: function(data) {
                if (data.status) {



                    const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    });
                    
                    Toast.fire({
                    type: 'success',
                    title: data.message
                    })
                    location.reload();

                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops !',
                        text: data.message,
                        type: 'danger',
                        animation: false,
                        confirmButtonText: 'Tutup',
                    })
                }
            }
        });
    });
</script>

{% endblock %}
