{% extends "main.twig" %}
{% block content %}

 <!--================================-->

 <div style="margin-top:40%">
    <div class="row mg-b-20 pd-20 no-gutters bg-white ">
    
         <div style="width:50%" >
            <div class="mr-2 ml-2 mb-3 ht-100 d-flex justify-content-center align-items-center rounded card-icon-success">
                <a href="{{ base_url() }}Keuangan/Pemasukan"><center> <i class="icon-login tx-success tx-20"><br>Pemasukan</i> </center></a>
            </div>
        </div>
        <div  style="width:50%">
            <div class="mr-2 ml-2 mb-3 ht-100 d-flex justify-content-center align-items-center rounded card-icon-danger">
                <a href="{{ base_url() }}Keuangan/Pengeluaran"><center><i class="icon-logout tx-danger tx-20"><br>Pengeluaran</i> </center></a>
            </div>
        </div>
        <div  style="width:100%">
            <div class="mr-2 ml-2 mb-3 ht-75 d-flex justify-content-center align-items-center rounded card-icon-primary">
                <a href="{{ base_url() }}Keuangan/Laporan"><center> <i class="icon-book-open tx-primary tx-20"><br>Laporan</i> </center></a>
            </div>
        </div>

    </div>
</div>

<footer style="margin-top:5%" class="">
	<center><p style="font-size:10px" class="pd-y-3 mb-0">Copyright&copy; 2021 | Created By <a href="#" >Dept IT LCA</a></p></center>
</footer>
<!--/ Border Cards End -->

{% endblock %}