{% extends "main.twig" %}
{% block content %}

<div class="page-inner" style="background-color:white">
   <div id="main-wrapper">
      <div class="pageheader pd-t-5 pd-b-5">
        <div class="row pd-t-5">
            <div class="col-9">
                <a href="{{ base_url() }}Keuangan"><h1 class="pd-0 mg-0 tx-15 text-overflow"><i class="fa fa-arrow-circle-left mg-r-5"></i>Rp. {{ counting.nominal|number_format(2, '.', ',') }}</h1></a>
            </div>
            <div class="col-3">
                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#formSantri" type="button">Tambah</button>
            </div>
         </div>
      </div>
      <div class="row bg-white ">
            <div class="col-md-6 col-xl-12" style="height:500px;overflow-y: scroll;overflow-x: hidden;">
                    
                    {# <div class="card-header">
                        <h4 class="card-header-title">
                        <i class="fa fa-user mg-r-5"></i> Nama
                        </h4> #}
                        {# <div class="">
                            <button class="btn btn-warning btn-sm m-0" onclick="editSantri(<?= $row->id ?>)"  data-toggle="modal" data-target="#formSantri" style="float:right"><i class="fa fa-edit"></i></button>
                        </div> #}
                        {# <div class="ml-2">
                            <a href="<?= base_url() ?>Majelis/delete_santri/<?= $row->id ?>/<?= $id_majlis_nama ?>" class="btn btn-danger btn-sm m-0" style="float:right"><i class="fa fa-trash"></i></a>
                        </div> #}
                    {# </div> #}
                    {% for row in data %}
                    <div style="margin-left:-8px;margin-right:-8px" class="card border-danger mt-2 mb-2 ">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-12">
                                    <a style="" class="card-text"><i class="fa fa-calendar mg-r-5"></i>{{ row.dibuat|date("d-m-Y H:i") }}</a>
                                    <a style="" class="card-text"><i class="fa fa-money mg-r-5"></i>Rp. {{ row.nominal|number_format(2, '.', ',') }}</a>
                                   <a style="" class="card-text"><i class="fa fa-clipboard mg-r-5"></i>{{ row.keterangan }}</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    {% endfor %}
                    <br><br><br><br><br><br><br>
            </div>
         </div>
   </div>
</div>
<footer style="margin-top:10%" class="">
		<center><p style="font-size:10px" class="pd-y-3 mb-0">Copyright&copy; 2021 | Created By <a href="#" target="_blank">Dept IT LCA</a></p></center>
	</footer>
<div class="modal fade" id="formSantri" tabindex="-1" role="dialog" aria-labelledby="formSantri" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="formSantriInput" action="{{ base_url() }}Keuangan/simpan_keuangan" method="post">
                    <div class="card-body">
                        <input type="hidden" name="id" id="id">
                        <input type="hidden" name="tipe" id="tipe" value="2">
                        <div class="form-group row align-items-center">
                            <label for="nama" class="col-sm-12 col-form-label">Tanggal</label>
                            <div class="col-sm-12">
                                    <input type="date" required="" class="form-control" id="tanggal" name="tanggal" value="">
                            </div>
                            <label for="nama" class="col-sm-12 col-form-label">Jam</label>
                            <div class="col-sm-12">
                                <input type="time" required="" class="form-control" id="jam" name="jam" value="">
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="nama" class="col-sm-12 col-form-label">Nominal</label>
                            <div class="col-sm-12">
                                <input type="text" id="tanpa-rupiah" name="nominal" value="" class="form-control" placeholder="Masukan Nominal" required="">
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label for="pass" class="col-sm-2 col-form-label">Keterangan</label>
                            <div class="col-sm-12">
                                <textarea type="text" style="height:80px" id="keterangan" name="keterangan" value="" class="form-control" placeholder="Masukan Keterangan" required=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div></div>
                            <div>
                                <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fa fa-save mg-r-5 mg-l-5"></i></button>
                                <button type="submit" class="btn btn-outline-danger btn-sm" data-dismiss="modal"><i class="fa fa-times mg-r-5 mg-l-5"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script>
     function hanyaAngka(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if ( charCode > 31 
        && (charCode < 48 || charCode > 57))

        return false;
        return true;
    }
    function limit(element)
    {
        var max_chars = 13;

        if(element.value.length > max_chars) {
            element.value = element.value.substr(0, max_chars);
        }
    }
    function editSantri(id, name, phone, address){
        $("#id").val(id);
        $("#nama").val(name);
        $("#phone").val(phone);
        $("#alamat").val(address);
    }
    function viewImage(foto)
    {
        $("#fotoview").html('<img style="width:100%;height:100%" src="' + foto + '">');
    }
    $("#formSantriInput").submit(function(e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: $(this).attr('action'),
            cache: false,
            contentType: false,
            processData: false,
            data: new FormData(this),
            success: function(data) {
                if (data.status) {



                    const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    });
                    
                    Toast.fire({
                    type: 'success',
                    title: data.message
                    })
                    location.reload();

                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops !',
                        text: data.message,
                        type: 'danger',
                        animation: false,
                        confirmButtonText: 'Tutup',
                    })
                }
            }
        });
    });
</script>

{% endblock %}
